body {
    font-family: "proxima-nova";
    padding-left: 5%;
    padding-right: 5%;
    
}

h1 {
    margin: auto;
}

.banner {
    font-size: xx-large;
    font-family: "proxima-nova";
    text-align: center;
    padding-top: 5%;
}

.lh-condensed {
    line-height: 1.2;
}

.blurb {
    font-size: large;
    margin: auto;
    padding-top: 0%;
    text-justify: center;
    text-align: center;
    width: 50%;
}